.optionsSection {
    height: 70%;
    width: 1000px;
    position: absolute;
    left: -1000px;
    transition: all 400ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url('../img/User Interface/PopupBox.png');
    background-position: center;
    background-size: cover;
    flex-direction: column;
}

.showOptionScreen {
    left: 0;
}

.optionsImageButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 20px;
    transition: all 300ms ease-in-out;
    margin-bottom: 25px;
    margin-top: 25px;
}

.optionsImageButton img {
    width: 100%;
}

.optionsImageButton:hover {
    transform: scale(110%);
}

.steeringSection {
    height: 70%;
    width: 1000px;
    position: absolute;
    left: -1000px;
    transition: all 400ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url('../img/User Interface/PopupBox.png');
    background-position: center;
    background-size: cover;
    flex-direction: column;
}

.soundSection {
    height: 70%;
    width: 1000px;
    position: absolute;
    left: -1000px;
    transition: all 400ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url('../img/User Interface/PopupBox.png');
    background-position: center;
    background-size: cover;
    flex-direction: column;
}

@media only screen and (max-height: 480px) {
    .optionsSection {
        height: 90%;
        width: 100%;
    }

}

